# dependencies
/node_modules
.pnpm-store

# production build files
public/dist

# local env files
.env

# editor and IDE files
.vscode/

# misc
*.log
/scripts

.npmrc

# Ignore Playwright test output
playwright-report/

# Ignore Playwright trace files
playwright-report/data/trace/

# Ignore Playwright screenshots
playwright-report/screenshots/

# Ignore Playwright videos
playwright-report/videos/

# Ignore Playwright logs
playwright-report/logs/
