html, body {
  overflow-x: hidden;
}
/* Global styles, fonts, and utility classes */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html, body {
  background-color: #060d17;
  color: #d9e8ed;
  font-family: Lato, Lato-fallback, Arial, sans-serif;
  min-height: 100vh;
}
html.md {
  --ion-default-font: "Roboto","Helvetica Neue",sans-serif;
}
body {
  background-color: #060d17;
  color: #d9e8ed;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: 0.01em;
  min-height: 100vh;
}
.foot-notes {
  text-align: center;
  font-size: 0.875rem;
  color: #78a6b8;
}
a {
  outline: 0;
}
:root {
  --ss-primary-color: #10161d;
  --ss-border-color: #222c38;
}
