/* Import Roboto font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/* Adjust layout for screens less than 768px wide */
@media screen and (max-width: 767px) {
  body {
    font-size: 18px !important;
    line-height: 1.5 !important;
  }

  .wrapper {
    display: flex !important;
    flex-direction: column !important;
    height: auto !important;
  }

  .top-section {
    flex: 1 !important;
  }

  form {
    flex-direction: column !important;
  }

  label {
    margin-right: 0 !important;
    margin-bottom: 0.5em !important;
  }

  input[type="text"], select {
    margin: 10px 0 20px !important;
  }

  button[type="submit"], button.wink {
    margin: 10px 0 !important;
  }

  table th,
  table td {
    padding: 5px;
    font-size: 14px;
  }

  #service-picker {
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    font-size: 14px;
  }

  img.poster {
    width: 100%;
    height: auto;
  }
}

/* Global styles */
body {
  background-color: #060d17;
  color: #d9e8ed;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

/* Form styles */
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding: 1em;
}

label {
  margin-right: 10px;
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
}

input[type="text"], select {
  width: -moz-available;
  width: -webkit-fill-available;
  margin: 10px 0;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  color: #888b8e;
  background-color: #10161d;
}

input[type="text"]:focus, select:focus {
  outline: none;
  background-color: #10161d;
  color: #888b8e;
  box-shadow: 0px 0px 5px #10161d;
}

button[type="submit"], button.wink {
  margin: 10px;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: #fbc500;
  font-weight: bold;
  color: #10161d;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

button.wink {
  display: none;
  box-shadow: 0px 0px 5px #bbb;
  background-color: black !important;
  font-size: 20px;
}

button[type="submit"]:hover, button.wink:hover {
  font-weight: bold;
  color: #10161d;
  font-family: 'Roboto', sans-serif;
  background-color: #fbc500;
}

.wink {
  display: none;
  box-shadow: 0px 0px 5px #bbb;
  background-color: black !important;
}

/* Table styles */
table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 100% auto;
  max-width: 100%;
  background-color: #10161d;
  box-shadow: 0px 0px 5px #bbb;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  vertical-align: top;
  background-color: #222c38;
  color: #bbb;
}

table tr:nth-child(even) {
  background-color: #10161d;
}

table tr {
  text-align: center;
}

/* Message styles */
#error-message, #result-message {
  margin: 10px auto;
  max-width: 100%;
  padding: 1em;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}

#error-message {
  background-color: #fccf41;
  color: #10161d;
}

#result-message {
  background-color: #fccf41;
  color: #10161d;
}

label {
  display: block;
  margin-bottom: 5px;
}

#year {
  margin-top: 10px;
}

label[for="year"] {
  display: block;
  margin-top: 10px;
}

.tt-suggestion {
  background-color: #10161d;
  color: #333;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 18px;
}

.tt-suggestion:hover {
  background-color: #10161d;
}

label {
  display: block;
  margin-bottom: 5px;
}

.twitter-typeahead {
  position: relative;
  display: inline-block;
  width: 100%;
}

.tt-input {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
}

.tt-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  display: none;
  width: 100%;
}

#letterboxd-watchlist-form {
  border: none;
  background-color: #10161d;
  color: #555;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  padding: 1em;
  width: 100%;
  margin-bottom: 1em;
  text-align: center;
}

img.logo {
  top: 0;
  right: 0;
  padding: 2em;
}

.diagonal-text-container {
  content: "Better";
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-45deg);
  font-size: 2em;
  font-weight: bold;
  color: #a11818;
  z-index: 1;
}

.foot-notes {
  text-align: center;
  font-size: 14px;
  color: #78a6b8;
}

a {
  color: #78a6b8;
  outline: 0 !important;
}

.wrapper {
  display: grid;
  grid-template-rows: 4fr 0fr 4fr 0fr;
  /* set the height of the top and bottom sections to 4fr and 0fr respectively */
  height: 100vh;
  /* set the height of the wrapper to 100% of the viewport height */
}

.bottom-section {
  display: flex;
  /* use flexbox to center the content of the bottom section */
  flex-direction: column;
  /* align the content vertically */
  justify-content: center;
  /* center the content vertically */
  align-items: center;
  /* center the content horizontally */
}

.bottom-section-content {
 display: flex;
 justify-content: center;
}

hr {
  border: none;
  /* remove the default border */
  height: 1px;
  /* set the height of the line */
  background-color: #ccc;
  /* set the color of the line */
  margin: 0;
  /* remove any margin */
}

img.poster {
  padding: 10px;
  max-width: 320px;
}

a.link {
  padding: 10px;
}